aiohttp==3.8.0
aiosignal==1.2.0
Amino.ed==1.2.22.2
async-timeout==4.0.0
attrs==21.2.0
cachetools==4.2.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.7
frozenlist==1.2.0
gevent==20.4.0
gitdb==4.0.4
GitPython==3.1.1
google-api-core==2.2.1
google-auth==2.3.2
google-cloud-dialogflow==2.9.1
googleapis-common-protos==1.53.0
greenlet==0.4.15
grpcio==1.41.1
grpcio-status==1.41.1
idna==2.9
JSON-minify==0.3.0
multidict==5.2.0
packaging==21.2
proto-plus==1.19.7
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
pyTelegramBotAPI==3.6.7
requests==2.23.0
rsa==4.7.2
six==1.14.0
smmap==3.0.2
typing-extensions==3.10.0.2
urllib3==1.25.9
websocket-client==1.2.1
yarl==1.7.0
